.header {
	.header-top {
	    border-bottom: 1px solid #464646;

	    .header-top-content {
		    display: -webkit-flex;
		    @include align-items( center );
    		float: right;

		    .socical {
		    	a {
		    		.fa {
					    color: #464646;
					    font-size: 16px;
					    margin-right: 10px;
					}
		    	}
		    }
		}
	}
	.header-content {
		padding: 10px 0;
		> div {
		    display: -webkit-flex;
		}

		.logo {
		    display: inline-block;
		    width: 165px;

		    .slogan {
			    color: $blue;
			    color: #1e70b1;
			    font-size: 14px;
			    font-weight: bold;
			    margin-top: 5px;
			    white-space: nowrap;
			}
		}

		.header-content-right {
		    display: -webkit-flex;
		    @include align-items( center );
		    @include justify-content( space-between );
		    width: 100%;
		}
	}
}


//tách ra để cho vào mobile
.contact-header {
    border: 1px solid $green;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 20px;

    a {
	    color: $green;
	    display: block;
	    font-weight: bold;
	    white-space: nowrap;
	    width: 100%;
	}

	.fa {
	    margin-right: 10px;
	}
}




.header-slogan-center {
    width: 100%;

    section {

		.textwidget {
			font-size: 24px;
		    font-weight: bold;
		    line-height: 1.1;
		    text-align: center;
		    text-transform: uppercase;

		    	p {
				    margin: 0;
				}

				div {
				    position: relative;
					color: red;

					&:last-child {
						color: black;
						display: inline-block;

						&::after {
						    background: rgba(0, 0, 0, 0) linear-gradient(hsla(0, 0%, 100%, 0), #fff 90%) repeat scroll 0 0;
						    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(hsla(0, 0%, 100%, 0), #fff 90%) repeat scroll 0 0;
						    background: rgba(0, 0, 0, 0) -moz-linear-gradient(hsla(0, 0%, 100%, 0), #fff 90%) repeat scroll 0 0;
						    background: rgba(0, 0, 0, 0) -o-linear-gradient(hsla(0, 0%, 100%, 0), #fff 90%) repeat scroll 0 0;
						    background: rgba(0, 0, 0, 0) -ms-linear-gradient(hsla(0, 0%, 100%, 0), #fff 90%) repeat scroll 0 0;
						    bottom: 0;
						    content: "";
						    height: 60%;
						    left: 0;
						    position: absolute;
						    width: 100%;
						    z-index: 22;
						}
					}
				}
		}
	}
}


//menu pc
.menu {
	background: $green none repeat scroll 0 0;
	height: 46px;
    position: relative;
    display: inline-block;
    width: 100%;

    .main-menu {

        ul {

            li {
                position: relative;

                &:hover {
                    background: $hover-green none repeat scroll 0 0;
                    @include transition( all 0.5s ease 0s );

                    > .sub-menu {
                        @include transform( scale(1, 1) );
                    }
                }

                a {
                    color: #ffffff;
                    display: block;
                    font-weight: bold;
                    padding: 13px 32px;
                    position: relative;
                    white-space: nowrap;
                }
            }
            .current-menu-item > a {
            	background: $hover-green none repeat scroll 0 0;
            }
        }

        > ul {

            > li {
                float: left;
                border-left: 1px solid transparent;
				border-right: 1px solid transparent;

                .sub-menu {
                    background: $green none repeat scroll 0 0;
                    left: -1px;
                    position: absolute;
                    top: 100%;
                    z-index: 2222;
                    min-width: 250%;
				    @include transform( scale(0, 1) );
				    @include transform-origin( 0 0 0 );
				    @include transition( all 400ms ease 0s );

                    .sub-menu {
                        left: 100%;
                        top: 0;
                    }
                }

                &:first-child a {
				    padding: 14px 13px 11px 13px;

				    .fa {
					    font-size: 18px;
					}
				}
            }
        }
    }
}

//language
.language {
	#lang_sel_click li {
	    width: 105px;
	}
	#lang_sel_click a {
	    border: none !important;
	}
	#lang_sel_click ul ul {
	    width: 105px;
	}
	#lang_sel_click {
	    height: 28px;
	}
	#lang_sel_click img.iclflag {
	    top: auto;
	}
}
