
.news-content .item {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;

    figure {
        float: left;
        margin-right: 15px;
        max-width: 235px;
        img {
            width: 100%;
        }
    }

    .info {
	    margin-top: -5px;
	}
}
