
.slide-all-page {
    position: relative;

    .textwidget {
        background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
        font-size: 22px;
        font-weight: bold;
        padding: 10px 20px;
        position: absolute;
        right: 50px;
        top: 50%;
        @include transform( translateY(-50%) );

        p {
            margin: 0;
        }
    }
}



