.product-content .item {
    margin-bottom: 30px;

    figure {
    	margin-bottom: 10px;
    	img {
		    width: 100%;
		}
    }

    &:hover img {
        @include filter( brightness(0.5) );
    }

    &:nth-child(3n+1) {
	    clear: left;
	}
}
.description-category {
    margin-bottom: 30px;
    font-size: 16px;
}