/*RESPONSIVE*/
@media screen and (max-width:1199px) {
	.container {
		width: 100%;
	}
	.menu .main-menu ul li a {
	    font-size: 13px;
    	padding: 14px 22px 13px;
	}
}

@media screen and (max-width:992px) {
	.header-slogan-center section .textwidget {
	    font-size: 20px;
	    padding: 0 15px;
	}
}

@media screen and (max-width:767px) {
	.header .header-content > div {
	    display: block;
	}
	.header .header-content .logo {
	    text-align: center;
	    width: 100%;
	}
	.header .header-content .header-content-right {
		display: block;
		text-align: center;
	}
	.header-slogan-center {
	    padding: 10px 0;
	}
	.header .header-content .header-content-right .contact-header {
	    display: none;
	}

	//page contact
	.contact-content {
	    margin-top: 30px;
	}
	//popup-mobile
	.popup-mobile {
		display: block;
	}
	//sidebar
	// .sidebar {
	//     display: none;
	// }

	.row {
	    display: -webkit-flex;
	    @include flex-wrap( wrap );
	}
	.sidebar {
	    @include order( 2 );
	}
	.page-content, .product {
	    @include order( 1 );
	}
}

@media screen and (max-width:480px) {
	//category
	.news-content .item figure {
	    float: none;
	    margin-bottom: 15px;
	    margin-right: 0;
	    max-width: inherit;
	    width: 100%;
	}
	//taxonomy
	.product-content .item {
	    width: 100%;
	}
	//slide all page
	.slide-all-page .textwidget {
	    display: none;
	}
}

@media screen and (max-width:399px) {
	.menu .mean-container .mean-bar {
		width: 100%;
	    max-width: inherit;
	}
	//arrow menu
	.tparrows {
		display: none;
	}
}


