
.contact-content {
    span {
        color: $green;
        font-size: 16px;
        span {
            color: red;
        }
    }
    input, textarea {
        border: 1px solid $black;
        width: 100%;
        color: #000;
        padding: 1px 10px;
    }
    .submit {
        background: $green none repeat scroll 0 0;
        border: medium none;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        padding: 5px 15px;
        text-transform: uppercase;
        width: auto;
    }
}

.page-info .wpcf7-validation-errors, .page-info .wpcf7-mail-sent-ng, .page-info .wpcf7-mail-sent-ok {
    border: medium none;
    color: red;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.page-info .wpcf7-mail-sent-ok {
    color: $green;
}

