
a:hover, a:focus, a:active{ text-decoration: none; outline: none; @include transition(all 500ms ease 0s); }
ul{ list-style: outside none none; padding: 0;margin: 0; }
input, select, textarea { outline: none; }
img { max-width: 100%; }
h1, h2, h3, h4, h5, h6 {
    color: unset; display: unset; font-family: unset; font-size: unset; font-weight: unset; margin: 0; padding: 0;
}
.page-info h1, .page-info h2, .page-info h3, .page-info h4, .page-info h5, .page-info h6 {
    color: inherit; display: inherit; font-family: inherit; font-weight: 500; margin-bottom: 10px;
}
.page-info h4, .page-info h5, .page-info h6 { margin-top: 10px; }
.page-info h1, .page-info h2, .page-info h3 { margin-top: 20px; }
.page-info h6 { font-size: 12px; }
.page-info h5 { font-size: 14px; }
.page-info h4 { font-size: 18px; }
.page-info h3 { font-size: 24px; }
.page-info h2 { font-size: 30px; }
.page-info h1 { font-size: 36px; }
.page-info iframe { max-width: 100%; }
.page-info ul {
    padding-left: 40px; margin-bottom: 10px; margin-top: 0; list-style: inherit;
}
#back-to-top {
    background: $green;
    bottom: 50px;
    cursor: pointer;
    display: none;
    padding: 8px 13px 12px;
    position: fixed;
    right: 15px;
    z-index: 99;
    @include border-radius( 50% );
    .fa {
	    color: #ffffff;
	}
}


.item img {
    width: 100%;
}
.single-title a {
    color: $green;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
}
.main-title {
    border-bottom: 2px solid $green;
    margin: 25px 0;
    a {
        background: $green none repeat scroll 0 0;
        border-radius: 0 10px 0 0;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 25px;
        text-transform: uppercase;
    }
}
.title a {
    color: $green;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.date {
    color: #acacac;
}
.desc {
    color: #000;
    text-align: justify;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    max-width: 100%;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


