//menu mobile
.menu .mean-container {
    position: relative;
}
.menu .mean-container .mean-bar {
    background: none;
    left: 0;
    padding: 0 0 4px;
    position: absolute;
    top: 0;
    z-index: 9;
    max-width: 370px;
}
.menu .mean-container .mean-bar .meanmenu-reveal {
    background: $hover-green;
    left: 0 !important;
    top: 0;
}
.menu .mean-container .mean-bar .mean-nav {
    background: $green none repeat scroll 0 0 !important;
    margin-top: 46px;
}
.menu .mean-container .mean-nav ul li a {
    text-transform: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
.menu .mean-container .mean-nav ul li .mean-expand {
    height: 16px;
    line-height: 16px;
}
.menu .mean-container .mean-nav ul li .mean-expand:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}

//popup-mobile contact-header
.popup-mobile {
    bottom: 100px;
    display: none;
    position: fixed;
    right: 15px;

    .popup-content {
    	display: none;

    	.contact-header {
		    background: #fff none repeat scroll 0 0;
		}
    }
    .popup-plush .fa {
	    background: $green none repeat scroll 0 0;
	    color: #fff;
	    cursor: pointer;
	    float: right;
	    line-height: 40px;
	    margin-top: 10px;
	    text-align: center;
	    width: 40px;
	    @include border-radius( 50% );
	}
}

//search-box-mobile
// .search-box-mobile {
// 	display: none;
// }