.related .title a {
    margin: 10px 0;
}


.related-post {
    margin-bottom: 30px;
    .title a {
    	margin: 10px 0;
	    padding-left: 20px;
	    position: relative;
	    &::after {
		    background: #00783f none repeat scroll 0 0;
		    border-radius: 50%;
		    content: "";
		    height: 7px;
		    left: 5px;
		    position: absolute;
		    top: 9px;
		    width: 7px;
		}
	}
}